<div class="row">
  <div class="col-md-8">
    <% unless @user.list_items.blank? %>
      <div class="page-header">
        <h3>TO DO <small><span class="badge"><%= @user.list_items.count %></span></small></h3>
      </div>
      <ul class="list-group to-do-list">
        <%= render @list_items %>
      </ul>
      <!-- %= will_paginate @list_items % -->
    <% end %>
  </div>
  <div class="col-md-4"></div>
</div>

<div class="panel panel-default" style="margin-top:1em;">
  <div class="panel-body">
    <%= form_for(@list_item) do |f| %>
      <div class="field">
        <%= f.text_field :description, placeholder: "New todo description", size: 70 %>
      </div>
      <%= f.submit "Post", class: "btn btn-sm btn-primary" %>
    <% end %>
  </div>
</div>