<% unless list_item.new_record? %>
	<li style="margin-top:0.5em;">
		<% if list_item.percent_done.to_i == 100 %>
			<strike><%= list_item.description %></strike>
			<span class="badge">100%</span>
		<% else %>
			<%= list_item.description %>
			<%= list_item.percent_done.to_i %>%
		  <%= link_to 'Done', list_item_path(list_item), class: "btn btn-sm btn-info", style: "color: #fff;", method: :post %>
		<% end %>
	  <%= link_to 'Delete', list_item_path(list_item), method: :delete %>
	</li>
<% end %>